Create-SOC-Incident-to-ServiceDesk.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.23.1.45101",
      "templateHash": "15034268398481996098"
    }
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "Create-SOC-Incident-to-ServiceDesk",
      "metadata": {
        "description": "Name of the logic app"
      }
    },
    "apiName": {
      "type": "string",
      "defaultValue": "Microsoft-Sentinel-API-Connector",
      "metadata": {
        "description": "Name of the connector being displayed inside the logic app"
      }
    },
    "subscriptionID": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]",
      "metadata": {
        "description": "Get subscription Id"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Get resource group location"
      }
    },
    "managedIdentityName": {
      "type": "string",
      "defaultValue": "managed-SPN-MDE-SIEM",
      "metadata": {
        "description": "Name of the managed Identity to be used when connecting to the api connector"
      }
    },
    "resourceGroupname": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]",
      "metadata": {
        "description": "Set resource group name"
      }
    }
  },
  "variables": {
    "ConnectionName": "azuresentinel"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[parameters('apiName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionID'), parameters('location'), variables('ConnectionName'))]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{2}', parameters('subscriptionID'), parameters('resourceGroupname'), parameters('managedIdentityName'))]": {}
        }
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Add_comment_to_incident_(V3)": {
              "runAfter": {
                "Post_to_Webhook": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@body('Get_incident')?['id']",
                  "message": "<p>Incidentnumber created: @{body('Post_to_Webhook')}</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            },
            "Get_incident": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents"
              }
            },
            "Post_to_Webhook": {
              "runAfter": {
                "Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "Text": "Insert json body or whatever"
                },
                "headers": {
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://myapi.cloud.com/api/v2"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ConnectionName'))]",
                "connectionName": "[variables('ConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{2}', parameters('subscriptionID'), parameters('resourceGroupname'), parameters('managedIdentityName'))]"
                  }
                },
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', subscription().subscriptionId, parameters('location'), variables('ConnectionName'))]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('ConnectionName'))]"
      ]
    }
  ]
}