Isolate-MDEMachine.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.23.1.45101",
      "templateHash": "6605478809913051494"
    }
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "Isolate-MDEMachine"
    },
    "apiName": {
      "type": "string",
      "defaultValue": "Microsoft-Sentinel-API-Connector"
    },
    "apiNameWDATP": {
      "type": "string",
      "defaultValue": "Microsoft-WDATP-API-Connector"
    },
    "subscriptionID": {
      "type": "string",
      "defaultValue": "[subscription().subscriptionId]"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "resourceGroupname": {
      "type": "string",
      "defaultValue": "[resourceGroup().name]"
    },
    "managedIdentityName": {
      "type": "string",
      "defaultValue": "managed-SPN-MDE-SIEM"
    }
  },
  "variables": {
    "ConnectionName": "azuresentinel",
    "ConnectionApiNameWDATP": "wdatp"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[parameters('apiName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionID'), parameters('location'), variables('ConnectionName'))]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[variables('ConnectionApiNameWDATP')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[parameters('apiNameWDATP')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', parameters('subscriptionID'), parameters('location'), variables('ConnectionApiNameWDATP'))]",
          "type": "Microsoft.Web/locations/managedApis"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{2}', parameters('subscriptionID'), parameters('resourceGroupname'), parameters('managedIdentityName'))]": {}
        }
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Hosts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/host"
              }
            },
            "For_each": {
              "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
              "actions": {
                "Condition": {
                  "actions": {
                    "Actions_-_Isolate_machine": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "Comment": "Isolated from playbook for Azure Sentinel Incident:  @{triggerBody()?['object']?['properties']?['incidentNumber']} - @{triggerBody()?['object']?['properties']?['title']}",
                          "IsolationType": "Full"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['wdatp']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/api/machines/@{encodeURIComponent(items('For_each')?['additionalData']?['MdatpDeviceId'])}/isolate"
                      }
                    },
                    "Add_comment_to_incident_(V3)": {
                      "runAfter": {
                        "Actions_-_Isolate_machine": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p>@{items('For_each')?['HostName']} was isolated in MDE and the status was @{body('Actions_-_Isolate_machine')?['status']}</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Add_comment_to_incident_(V3)_2": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "<p>@{items('For_each')?['HostName']} does not have MDEDeviceID in the Entities list. &nbsp;It was not isolated.&nbsp;</p>"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/Incidents/Comment"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@triggerBody()?['object']?['properties']?['severity']",
                          "High"
                        ]
                      },
                      {
                        "equals": [
                          "@triggerBody()?['object']?['properties']?['severity']",
                          "Medium"
                        ]
                      },
                      {
                        "equals": [
                          "@triggerBody()?['object']?['properties']?['severity']",
                          "Low"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Entities_-_Get_Hosts": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ConnectionName'))]",
                "connectionName": "azuresentinel",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{2}', parameters('subscriptionID'), parameters('resourceGroupname'), parameters('managedIdentityName'))]"
                  }
                },
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/{2}', subscription().subscriptionId, parameters('location'), variables('ConnectionName'))]"
              },
              "wdatp": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ConnectionApiNameWDATP'))]",
                "connectionName": "wdatp",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "[format('/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{2}', parameters('subscriptionID'), parameters('resourceGroupname'), parameters('managedIdentityName'))]"
                  }
                },
                "id": "[format('/subscriptions/{0}/providers/Microsoft.Web/locations/{1}/managedApis/wdatp', subscription().subscriptionId, parameters('location'))]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('ConnectionApiNameWDATP'))]"
      ]
    }
  ]
}